@page
@model CinemaAplicatieWEB.Pages.Showtimes.DeleteModel
@{
    ViewData["Title"] = "Delete Showtime";
}

<h1>Delete Showtime</h1>

<h3>Are you sure you want to delete this Showtime?</h3>
<div>
    <h4>Movie: @Model.Showtime.Movie.Title</h4>
    <h4>Hall: @Model.Showtime.Hall.Name</h4>
    <h4>Date & Time: @Model.Showtime.DateTime</h4>
</div>

<form method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>
