@page
@model CinemaAplicatieWEB.Pages.Showtimes.EditModel
@{
    ViewData["Title"] = "Edit Showtime";
}

<h1>Edit Showtime</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Showtime.MovieId" class="control-label">Movie</label>
        <select asp-for="Showtime.MovieId" class="form-control" asp-items="@(new SelectList((IEnumerable<SelectListItem>)ViewData["Movies"]))"></select>
    </div>
    <div class="form-group">
        <label asp-for="Showtime.HallId" class="control-label">Hall</label>
        <select asp-for="Showtime.HallId" class="form-control" asp-items="@(new SelectList((IEnumerable<SelectListItem>)ViewData["Halls"]))"></select>
    </div>
    <div class="form-group">
        <label asp-for="Showtime.DateTime" class="control-label">Date & Time</label>
        <input asp-for="Showtime.DateTime" class="form-control" type="datetime-local" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>
