@page
@model CinemaAplicatieWEB.Pages.Halls.CreateModel

@{
    ViewData["Title"] = "Create Hall";
}

<h1>Create Hall</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Hall.Name" class="control-label"></label>
        <input asp-for="Hall.Name" class="form-control" />
        <span asp-validation-for="Hall.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Hall.Capacity" class="control-label"></label>
        <input asp-for="Hall.Capacity" class="form-control" />
        <span asp-validation-for="Hall.Capacity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Hall.Layout" class="control-label"></label>
        <input asp-for="Hall.Layout" class="form-control" placeholder="Optional: Leave empty for default layout" />
        <span asp-validation-for="Hall.Layout" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
