@page
@model CinemaAplicatieWEB.Pages.Reservations.DetailsModel

@{
    ViewData["Title"] = "Reservation Details";
}

<h1>Reservation Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Seats</dt>
        <dd class="col-sm-10">@Model.Reservation.Seats</dd>

        <dt class="col-sm-2">User</dt>
        <dd class="col-sm-10">@Model.Reservation.User.Name</dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Reservation.Id" class="btn btn-primary">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
